# --- Python specific ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/

# --- IDEs / Editors ---
.vscode/
.idea/
.nvim/
pyrightconfig.json
.project
.pydevproject

# --- BIAI / NEAT specific ---
neat-checkpoint-*
*.pkl

# --- Logs & OS specific ---
*.log
.DS_Store
Thumbs.db

# --- DRONE SIMULATION LOGS ---
logs/
*.csv
*.png
